.LocationsHeading {
    color: #7032CD;
}

.LocationsList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.LocationsList li {
    margin: 0 0 1.5em 0;
}

.ResidentList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.ResidentList li {
    margin: 1.5em;
}

.FetchingErrorMessage {
    display: block;
    font-size: 1.5em;
    color: darkred;
}
