.Button {
    padding: .5em 1em;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #C69339;
    border: 1px solid #000000;
    cursor: pointer;
}

.Button:hover,
.Button:focus {
    background-color: #DA974D;
}

@media screen and (max-width: 767px) {
    .Button  {
        padding: .25em .5em;
        font-size: .75em;
    }
}
