.Button {
    padding: .5em 1em;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #C69339;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
}

.Button:hover,
.Button:focus {
    background-color: #DA973D;
}

.Button:active {
    background-color: #E6A349;
}

@media screen and (max-width: 767px) {
    .Button  {
        font-size: .75em;
        border-radius: 4px;
    }
}
