body {
  margin: 0;
  font-size: 16px;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-bottom: 1em;
    font-family: Georgia;
    font-size: 32px;
    font-style: italic;
    color: #000000;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
    }
}
